<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form">
    <%= f.label :性別 %>
    <%= f.collection_select :sex_id, Sex.all, :id, :sex,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :出身国 %>
    <%= f.collection_select :birthplace_id, Birthplace.all, :id, :cuntry,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :出身地 %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :好きなチーム選択 %>
    <%= f.collection_select :team_id, Team.all, :id, :name,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :好きな選手入力とポジション選択  %>
    <%= f.text_field :athlete,class:"btn-block form-controll" %>
    <%= f.collection_select :favorite_id, Favorite.all, :id, :role,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :好きな監督選択 %>
    <%= f.collection_select :manager_id, Manager.all, :id, :name,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :ライバルチーム選択 %>
    <%= f.collection_select :rival_id, Rival.all, :id, :name,class:"select-controll" %>
  </div>

  <div class="form">
    <%= f.label :酒の強さ %>
    <%= f.collection_select :booze_id, Booze.all, :id, :which,class:"select-controll" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録を実行" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
