<div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class=" col-xs-10">
        <h3 class="profile-edit">プロフィール編集</h3>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <% if @user.errors.any? %>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
        <%= form_with(model: @user, local: true) do |f| %>
          <p class="form">
            <%= f.label :ユーザー名 %>
            <%= f.text_field :name,class:"btn-block" %>
          </p>
          <p class="form">
            <%= f.label :自己紹介（30字以内）  %>
            <%= f.text_area :introduction,class:"btn-block" %>
          </p>
          <p class="form">
            <%= f.label :プロフィール画像 %>
            <%=f.attachment_field :profile_image %>
          </p>
          <p class="form">
             <%= f.label :性別 %>
             <%= f.collection_select :sex_id, Sex.all, :id, :sex,class:"select-controll" %>
          </p>
          <p class="form">
             <%= f.label :出身国 %>
             <%= f.collection_select :birthplace_id, Birthplace.all, :id, :cuntry,class:"select-controll" %>
          </p>
          <p class="form">
            <%= f.label :出身地 %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture,class:"select-controll" %>
          </p>

            <p class="form">
              <%= f.label :好きなチーム選択 %>
              <%= f.collection_select :team_id, Team.all, :id, :name,class:"select-controll" %>
            </p>

            <p class="form">
              <%= f.label :好きな選手入力とポジション選択  %>
              <%= f.text_field :athlete,class:"btn-block form-controll" %>
               <%= f.collection_select :favorite_id, Favorite.all, :id, :role,class:"select-controll" %>
            </p>

            <p class="form">
              <%= f.label :好きな監督選択 %>
              <%= f.collection_select :manager_id, Manager.all, :id, :name,class:"select-controll" %>
            </p>

            <p class="form">
              <%= f.label :ライバルチーム選択 %>
              <%= f.collection_select :rival_id, Rival.all, :id, :name,class:"select-controll" %>
            </p>

            <p class="form">
               <%= f.label :酒の強さ %>
               <%= f.collection_select :booze_id, Booze.all, :id, :which,class:"select-controll" %>
            </p>
            <p class="form">
              <%= f.label :好きなお酒（銘柄） %>
              <%= f.text_field :brand,class:"btn-block form-controll" %>
            </p>

            <p class="form">
              <%= f.label :お酒のジャンル %>
              <%= f.collection_select :sake_id, Sake.all, :id, :genre,class:"select-controll" %>
            </p>
            <p class="update_btn">
              <%= f.submit "更新",class:"btn btn-block btn-primary" %>
            </p>
        <% end %>
      </div>
      <div class="col-xs-1"></div>
    </div>
</div>