<div class="user-index-body">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3><i class="fas fa-user-circle icon"></i></h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-hover table-invrese">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_personal_path(user.id) do %>
                  <%= attachment_image_tag user, :profile_image, size: "50x50",
                      format: 'jpeg', fallback: "default.jpg" %><br>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%=link_to "投稿一覧画面:野球" ,user_path(user.id),method: :get %>
              </td>
              <td>
                <%=link_to "投稿一覧画面:お酒" ,user_browsing_path(user.id),method: :get %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>