<div class="container">
  <div class="row text-center personal-page">
    <% if @user == current_user %>
      <h1 class="text-center">MyPage</h1>
    <% else %>
      <h1 class="text-center"><%=@user.name %>さんのPage</h1>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <%= attachment_image_tag @user, :profile_image, size:"210x210", format: "jpeg", class: "img-circle", fallback: "default.jpg" %><br>
      <% if @user == current_user %>
        <%= link_to "プロフィールの編集", edit_user_path(@user.id) %>
      <% end %>
      <% if current_user != @user %>
        <%= link_to 'チャットを始める', chat_path(@user.id)%>
      <% end %>
    </div>
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading introduction-space">Introduction</div>
        <div class="panel-body">
          <%= @user.introduction %>
        </div>
      </div>


      <table class="table table-hover table-invrese">
        <tr>
          <td>性別</td>
          <td><%= @user.sex.sex %></td>
        </tr>
        <tr>
          <td>出身国</td>
          <td><%= @user.birthplace.cuntry %></td>
        </tr>
         <tr>
          <td>出身地</td>
          <td><%= @user.prefecture.prefecture %></td>
        </tr>
        <tr>
          <td>お酒の強さ</td>
          <td><%= @user.booze.which %></td>
        </tr>
        <tr>
          <td>好きなチーム</td>
          <td><%= @user.team.name %></td>
        </tr>
        <tr>
          <td>好きな監督</td>
          <td><%= @user.manager.name %></td>
        </tr>
         <tr>
          <td>好きな選手</td>
          <td><%= @user.athlete %></td>
        </tr>
        <tr>
          <td>ライバルチーム</td>
          <td><%= @user.rival.name %></td>
        </tr>
        <tr>
          <td>好きなお酒</td>
          <td><%= @user.brand %>(<%= @user.sake.genre %>)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row text-center baseball">
    <% if @user == current_user %>
      <%= link_to "投稿する(野球)",new_post_path %><br>
    <% end %>
    <%= link_to "投稿一覧(野球)",user_path(@user.id) %>
  </div>
  <div class="row text-center sake">
    <% if @user == current_user %>
      <%= link_to "投稿する(お酒)",new_alcohol_path %><br>
    <% end %>
    <%= link_to "投稿一覧(お酒)",user_browsing_path%>
  </div>
  </div>
