<%= form_with model:@post, html:{name: 'form'} do |f| %>
  <p class="form">
    <%= f.label :タイトル（20字以内）  %>
    <%= f.text_field :title,class:"btn-block form-controll" %>
  </p>
  <p class="form">
    <%= f.label :説明文（300字以内） %>
    <%= f.text_area :caption,class:"btn-block form-controll" %>
  </p>

  <p class="form">
    <%= f.label :選手名入力とポジション選択  %>
    <%= f.text_field :player,class:"btn-block form-controll" %>
    <%= f.collection_select :role_id, Role.all, :id, :position,class:"select-controll" %>
  </p>

  <p class="form">
    <%= f.label :所属チーム %>
    <%= f.collection_select :affiliation_id, Affiliation.all, :id, :team,class:"select-controll" %>
  </p>

  <p class="form">
    <%= f.label :添付画像選択（1枚以上3枚以内） %>
    <%= f.attachment_field :images_images, multiple: true, id:"select_file" %>
  </p>


  <div class="submit-button">
    <%= f.submit "投稿する",class: "btn btn-primary btn-block post-button",id:"submit_button" %>
  </div>
<% end %>