<div class="container">
  <div class="row">
    <h3 class="titles">投稿詳細画面</h3>
    <% if @user == current_user %>
      私の投稿詳細
    <% else %>
      <%=@user.name%>さんの投稿詳細画面
    <% end %>
  </div>
  <div class="row">
    <span class="label label-primary">投稿者:<%= @user.name %></span>
    <span class="label label-primary">投稿日時:<%= @post.created_at %></span>
    <span class="label label-primary">好きなチーム:<%= @post.team.name %></span>
    <span class="label label-primary">お気に入り監督:<%= @post.manager.name %></span>
    <span class="label label-primary">ライバルチーム:<%= @post.rival.name %></span>
    <span class="label label-primary">好きな選手と所属チーム:<%= @post.player %><%= @post.role.position %>(<%= @post.team.name %>)</span>
  </div>

  <% if @user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id), class:"btn btn-success btn-sm" %>
    <%= link_to "削除", post_path(@post.id),"data-confirm"=>"本当に削除しますか?", class:"btn btn-danger btn-sm", method: :delete %>
  <% end %>

  <div class="row center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <p class="average stars"></p><%= @post.title %>
      </div>
      <div class="panel-body">
        <%= @post.caption %>
      </div>
    </div>
  </div>
</div>