<div class="container">
  <div class="row col-xs-12">
    <% if @user == current_user %>
      <h3 class="col-xs-12">私の投稿詳細</h3>
    <% else %>
      <h3 class="col-xs-12"><%=@user.name%>さんの投稿詳細画面</h3>
    <% end %>
    <% if @user == current_user %>
      <%= link_to "編集", edit_post_path(@post.id), class:"btn btn-success btn-sm" %>
      <%= link_to "削除", post_path(@post.id),"data-confirm"=>"本当に削除しますか?", class:"btn btn-danger btn-sm", method: :delete %>
    <% end %>
  </div>
  <div class="row col-xs-12">
    <span class="label label-info">投稿者:<%= @user.name %></span>
    <span class="label label-info">性別:<%= @user.sex.sex %></span>
    <span class="label label-info">アルコール耐性:<%= @user.booze.which %></span>
    <span class="label label-info">投稿日時:<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
  </div>

  <table class="table table-hover table-invrese">
    <tr>
      <td>好きなチーム</td>
      <td><%= @post.team.name %></td>
    </tr>
    <tr>
      <td>お気に入り監督</td>
      <td><%= @post.manager.name %></td>
    </tr>
    <tr>
      <td>ライバルチーム</td>
      <td><%= @post.rival.name %></td>
    </tr>
    <tr>
      <td>好きな選手と所属チーム</td>
      <td><%= @post.player %><%= @post.role.position %>(<%= @post.team.name %>)</td>
    </tr>
  </table>








  
  <div class="row center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <p class="average stars"></p><%= @post.title %>
      </div>
      <div class="panel-body">
        <%= @post.caption %>
      </div>
    </div>
  </div>
</div>