<%= form_with model:@alcohol, html:{name: 'form'} do |f| %>
  <p class="form">
    <%= f.label :タイトル（20字以内）  %>
    <%= f.text_field :title,class:"btn-block form-controll" %>
  </p>
  <p class="form">
    <%= f.label :説明文（300字以内） %>
    <%= f.text_area :caption,class:"btn-block form-controll" %>
  </p>

  <p class="form">
    <%= f.label :銘柄入力と種類選択  %>
    <%= f.text_field :brand,class:"btn-block form-controll" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :genre,class:"select-controll" %>
  </p>

  <p class="form">
    <%= f.label :添付画像選択（1枚以上3枚以内） %>
    <%= f.attachment_field :pictures_pictures, multiple: true, id:"select_file" %>
  </p>

  <div class="submit-button">
    <%= f.submit "投稿する",class: "btn btn-primary btn-block post-button",id:"submit_button" %>
  </div>
<% end %>