<div class="container">
  <div class="row col-xs-12">
    <% if @user == current_user %>
      <h3 class="col-xs-12">私の投稿詳細</h3>
    <% else %>
      <h3 class="col-xs-12"><%=@user.name%>さんの投稿詳細画面</h3>
    <% end %>
    <% if @user == current_user %>
      <%= link_to "編集", edit_alcohol_path(@alcohol.id), class:"btn btn-success btn-sm" %>
      <%= link_to "削除", alcohol_path(@alcohol.id),"data-confirm"=>"本当に削除しますか?", class:"btn btn-danger btn-sm", method: :delete %>
    <% end %>
  </div>
  <div class="row col-xs-12">
    <span class="label label-info">投稿者:<%= @user.name %></span>
    <span class="label label-info">性別:<%= @user.sex.sex %></span>
    <span class="label label-info">投稿日時:<%= @alcohol.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
  </div>

  <div class="row heart">
    <% if user_signed_in? %>
      <% if @alcohol.peted_by?(current_user) %>
        <%= link_to alcohol_pet_path(@alcohol.id), method: :delete, remote: :true do %>
          <i class="fas fa-heart favorite"></i>
          <%= @alcohol.pets.count %>件
        <% end %>
      <% else %>
        <%= link_to alcohol_pets_path(@alcohol.id), method: :post, remote: :true do %>
          <i class="far fa-heart favorite"></i>
          <%= @alcohol.pets.count %>件
        <% end %>
      <% end %>
    <% end %>
  </div>

  <table class="table table-hover table-invrese">
    <tr>
      <td>好きなお酒の銘柄</td>
      <td><%= @user.brand %></td>
    </tr>
    <tr>
      <td>好きなお酒のジャンル</td>
      <td><%= @user.sake.genre %></td>
    </tr>
    <tr>
      <td>お酒の強さ</td>
      <td><%= @user.booze.which %></td>
    </tr>
  </table>

  <div class="row center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <p class="average stars"></p><%= @alcohol.title %>&nbsp;&nbsp;&nbsp;&nbsp;[銘柄(種類):<%= @alcohol.brand %><%= @alcohol.genre.genre %>]
      </div>
      <div class="panel-body">
        <%= @alcohol.caption %>
      </div>
    </div>
  </div>
  <div class="row comment-space">
    <%= render 'alcohols/impression', alcohol: @alcohol %>
  </div>
</div>

<script>
  $('.average').raty({
    size: 36, // 星のサイズ
    score: "<%=@alcohol.impressions.average(:evaluation).to_f.round(1) %>",//星の平均値。小数点第１。
    starOff: "<%=asset_path('star-off.png')%>",// 星なし
    starOn: "<%=asset_path('star-on.png')%>",//星有り
    starHalf: "<%=asset_path('star-half.png')%>",// 星半分
    scoreName: 'review[evaluation]',
    half: true,// 星の半分の入力を実行
    readOnly: true, //星の評価を固定化
  });
</script>